  <div class="row">
    <div class="large-12 columns">

<!--
      <div class="row">
        <div class="large-12 hide-for-small">
          <div id="featured" data-orbit>
            <img src="https://placehold.it/1200x500&text=Slide Image 1" alt="slide image">
            <img src="https://placehold.it/1200x500&text=Slide Image 2" alt="slide image">
            <img src="https://placehold.it/1200x500&text=Slide Image 3" alt="slide image">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns show-for-small">
          <img src="https://placehold.it/1200x700&text=Mobile Header">
        </div>
      </div><br>
-->

      <div class="row">
        <div class="large-12 columns">
          <h1 class="text-center">
            Test text
          </h1>
        </div>
      </div>


      <div class="row">
        <div class="large-12 columns">
          <div class="row">

            <div class="large-4 small-6 columns">
              <h4>
                Recent Nmap Scans
              </h4>
              <hr>
              <% @nmapscans.each do |nmapscan| %>
                <% if nmapscan.filename.present? %>
                  <div class="row">
                    <div class="large-9 columns">
                      <h5>
                        <%= link_to "#{nmapscan.target}:#{nmapscan.port}", nmapscan_path(nmapscan) %>
                      </h5>
                    </div>
                  </div>
                  <hr>
                  <% end %>
                    <% end %>
            </div>

            <div class="large-4 small-6 columns">
              <div class="row">
                <div class="text-center large-12 columns">
                  Masscan Section
                </div>
              </div>
            </div>


            <div class="large-4 small-12 columns">
              <h4>Reports</h4>
              <hr>
              <div class="panel">
                <h5><a href="#">Post Title 1</a></h5>
                <h6 class="subheader">
                  Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Suspendisse ultrices ornare tempor...
                </h6>
                <h6><a href="#">Read More »</a></h6>
              </div>
              <div class="panel hide-for-small">
                <h5><a href="#">Post Title 2 »</a></h5>
              </div>
              <div class="panel hide-for-small">
                <h5><a href="#">Post Title 3 »</a></h5>
              </div>
              <a href="#" class="right">Go To Blog »</a>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
